*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html, body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4e3e2;
}


.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.8rem;

}

.foto {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    margin-right: 0.5rem;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    background-color: #f0f8ff;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgb(97, 94, 94);
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-radius: 2px;
    max-width: 900px;
    flex-wrap: wrap;

}   

.card__left {
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}


.card__left {
    min-height: 100%;
}

.resume {
    color:#00000070
}

.content__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.card__footer, .content__info{
    display: flex;
    flex-direction: row;
}

.card__footer{
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
}

.card__footer > .content__info {
    width: 100%;
    justify-content: left; 
}

.content__info > .time, .magazine{
    margin-inline: 0.3rem;
}

.icon {
    margin-right: 2.5rem;
}

.magazine {
    border-radius: 8px;
    padding-inline: 0.4em;
    background-color: #0000002c;
}


